<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="si" method="post">
	<input type="number" name="id" placeholder="enter std id"><br>
	<input type="text" name="name" placeholder="enter std name"><br>
	<input type="email" name="email" placeholder="enter std email"><br>
	<select name="coursename">
		<option>fullstack</option>
			<option>pythonFSD</option>
			<option >DevOps</option>
			<option>javaFSD</option>
	</select><br>
	<button>submit</button>
</form>

</body>
</html>